<!DOCTYPE html>
{% load static %}
<html lang="en">

{% include 'groc_header.html' %}
        <!--**********************************
            Sidebar start
        ***********************************-->
{% include 'groc_sidebar.html' %}
        <!--**********************************
            Sidebar end
        ***********************************-->

{% block content %}
 <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">

                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
<!--                        <ol class="breadcrumb">-->
<!--                            <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>-->
<!--                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Element</a></li>-->
<!--                        </ol>-->
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add_Products</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <form method="post" action="{% url 'product_save' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>CATEGORY NAME</label>
                                            <div class="form-control input-rounded">
                            <select name="cate" required="required" class="form-control input-rounded">
                                    <option value=""disabled selected>Category name</option>
                                            {% for i in cat %}
                                    <option>{{i.CategoryName}}</option>
                                            {% endfor %}
                            </select>
           </div>
                                            <label>Product</label>
                                            <input type="text" class="form-control input-rounded" name="productname" placeholder="productname">
                                            <label>Price</label>
                                            <input type="text" class="form-control input-rounded" placeholder="price" name="price">
                                            <label>Quantity</label>
                                            <input type="text" class="form-control input-rounded" placeholder="quantity" name="quantity">
                                            <label>UPLOAD IMAGE</label>
                                            <input type="file" class="form-control input-rounded" placeholder=" " name="image">
                                        </div>
                                        <div class="col-12">
                                                <button type="submit" class="btn btn-primary mb-2">Submit</button>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>


        </div>
        <!--**********************************
            Content body end
        ***********************************-->
{% endblock %}


{% include 'groc_footer.html' %}

</html>